.detail {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(#ffffff, #ffffff, #06649a);
}

nav {
    background-color: rgb(79, 88, 128);
    min-height: 55px;
    height: 55px;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
}

.h3 {
    display: flex;
    height: auto;
    min-width: 200px;
    margin-top: 2px;
    padding-top: 2px;
    padding-left: 10px;
    color: rgb(225, 8, 8);
    text-shadow: rgb(12, 19, 19) 10px 1px 12px;
}

/* ----------- BTN -----------*/

.btn_container {
    width: 550px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 14px;
}

.btn_home_d {
    border: none;
    outline: none;
    height: 35px;
    width: 100px;
}

.btn_home_d button {
    border: none;
    outline: none;
    height: 35px;
    width: 100px;
    color: white;
    background: transparent;
}

.btn_create {
    background: transparent;
    border: none;
    color: rgb(255, 255, 255);
    height: 35px;
    width: 100px;
}

.btn_home_d i {
    color: greenyellow;
    font-size: 20px;
}

.btn_create i {
    color: greenyellow;
    font-size: 20px;
}

.btn_home_d :hover {
    background: transparent;
    text-decoration: aqua underline;
    text-shadow: aqua 12px 12px 12px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.282);
    border: none;
    outline: none;
}

.btn_create:hover {
    background: transparent;
    text-decoration: aqua underline;
    text-shadow: aqua 12px 12px 12px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.282);
}

.card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4em;
}

.container_de {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.card_iw img {
    border: 0.5px solid;
    border-radius: 12px;
    width: 350px;
    height: 350px;
}

.card_name{
    margin-top: 1rem;
    background-color: #06649a;
}
.container_det {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    gap: 25px;
}

.temp {
    background: rgba(45, 48, 82, 0.76);
    width: 300px;
    min-height: 300px;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 12px;
    box-shadow: rgb(2, 2, 2) 12px 12px 12px;
}

.temp h4 {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.temperaments_o {
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
}

.temp code {
    color: rgb(255, 255, 255);
}


@media screen and (max-width: 600px) {
    .detail {
        width: 100%;
        background: #06649a;
    }

    nav {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 25px;
    }

    .h3 {
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .container_de {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .temp {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        background: #4a98c5;
    }

    .cardw {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .card_iw img {
        width: 240px;
        height: 200px;
    }

    .named {
        width: 80%;
    }
}