.filter_main {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.filter_main select {
    height: 25px;
    border-radius: 5px;
    width: 130px;
    background-color: rgba(79, 88, 128, 0.69);
    transition: 1s;
}

.create button {
    height: 25px;
    border-radius: 5px;
    width: 130px;
    background-color: rgba(79, 88, 128, 0.69);
    border: none;
}

.btn_create:hover {
    background-color: rgba(34, 49, 124, 0.69);
}


@media only screen and (max-width:600px) {
    .filter_main {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 25px;
    }

}