.filter_main {
    display: flex;
    justify-content: center;
    gap: 15px;

}

.filter_main select {
    height: 25px;
    border-radius: 5px;
    width: 130px;
    background: linear-gradient(to left, #EC7C26, #FFA420) ;
    transition: 1s;
}
.create button{
    height: 25px;
    border-radius: 5px;
    width: 130px;
    background: linear-gradient(to left, #EC7C26, #FFA420) ;
    border: none;
}
 
.btn_create:hover{
    background-color:transparent;
    border: 3px solid rgba(247, 168, 0, 0.829);
}
