.filter_main_content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.filter_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 90%;
    max-width: 1190px;
}

.filter_main select {
    height: 25px;
    border-radius: 5px;
    width: 130px;
    background-color: rgba(79, 88, 128, 0.69);
    transition: 1s;
    color: #fff;
}

.create button {
    color: #fff;
    height: 25px;
    border-radius: 5px;
    width: 130px;
    background-color: rgba(79, 88, 128, 0.69);
    border: none;
}

.btn_create:hover {
    background-color: rgba(34, 49, 124, 0.69);
}


@media only screen and (max-width:600px) {
    .filter_main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .filter_main select{
        width: 200px;
    }
    .create button{
        width: 200px;
    }

}