* {
    padding: 0;
    margin: 0;
}

.container_landing {
    background-image: url('../image/doggys.jpg');
    background-size: cover;
    min-height: 750px;
}

@media screen and (max-width: 600px) {
   .container_landing{
    width:100%;
    background: rgb(118, 115, 170);
   }
}



 


