
.home_container_content{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.none {
    display: none;
}

.container_P ul {
    display: flex;
    justify-content: center;
}

.container_P button {
    width: 30px;
    height: 30px;
    margin-top: 50px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px 0px 5px 0px;
    transition: 1s;
}

.container_P ul button:hover {
    background-color: rgb(30, 52, 179);
    border-radius: 0px 10px 0px 10px;
}

.current {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    background-color: #02e1fe;
    padding-left: 15px;
    padding-top: 5px;
    border-radius: 12px;
}

.btn_point {
    background-color: rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
}


.prev {
    background: rgb(82, 87, 155);
    color: white;
}

.next {
    background: rgb(82, 87, 155);
    color: white;
    width: 200px;
}

@media only screen and (max-width:600px) {
    .container_P {
        display: none;
    }
    .pg_container_content{
        display: flex;
        width: 100%;
        height: 100px;
        padding-top: 2rem;
    }


    .none {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        justify-content: space-between;
        margin-bottom: 1rem;
       }

       .prev{
        width: 60px;
        height: 40px;
       }

}