.search_container{
  width: 100%;
  padding-right: 2rem;
}
.search{
  position: relative;
  background-color: rgb(79, 88, 128);
  width: 300px;
  height: 28px;
  display: flex;
  align-items: center;
  font-size: 25px;
  border-radius: 10px;
  color: black;
  border: rgb(54, 54, 255) 2px solid;
  box-shadow: white 1px 1px 12px;
}

.search i{
  font-size: 15px;
  color:rgb(0, 255, 60);
margin-right: 1rem;
}

.search input{
  border-radius: 10px;
  flex: 1;
  height: 28px;
  border: none;
  outline: none;
  background-color: rgb(79, 88, 128);
  color: rgb(255, 111, 0);
}

 input ::placeholder{
color: rgb(255, 0, 0);
 }

 @media only screen and (max-width:600px) {
.search input {
  width: 60px;
}
.search{
  width:100%;
  border-radius:none;
}
  }